/* CSS Document */

header {
	width: 100%;
	margin: 0px auto;
	
	
		
}
hgroup {
	/*margin set in structure*/
	
}

#logo-container {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	display: inline;
		
}
#nav-container {
	margin:0 0;
	padding: 0;
	width: 100%;
	float: left;
	display: inline;
	border-top: #033D5C solid 1px; 	
	border-bottom: #033D5C solid 1px;
	background: #fff;
}
#logo {
	background: url(../assets/trinidad_logo.png) center center no-repeat;
	background-size: contain;
	width: 100%;
	margin: 16px 0 13px 0;
	height: 150px;
	float: left;
	display: inline;
}



header h1 {
	text-indent: -9999px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;	
}


/*---------- nav links ----------*/

nav {	
	margin: 0px auto;
	text-align: center;
	

}
nav ul {
	/*margin set in structure*/
	
}
nav li {
	/*border-right: 1px solid #ccc; */
}
nav li.end {
	border-right:none; 
}

/* nav current colors */

nav a.current {
	color: #fff;
	background: #033D5C;
}
nav a:hover {
	background: #eee;
	color: #033D5C;	
}

#breadcrumb {
	font-size: 1.4em;
	text-align: center;	
}



.previous {
	display: inline;
	float: left;	
}

.next{
	display: inline;
	float: left;	
}



#sticky_navigation_wrapper { width:100%; height:45px;background-color: rgba(255, 255, 255, 0.7); float: left;}
#sticky_navigation { width:100%; height:45px; background-color: transparent; z-index: 1; float: left;}
#sticky_navigation ul { list-style:none; margin:0; padding:0; }
#sticky_navigation ul li { margin:0; padding:0; display:inline; }
#sticky_navigation ul li a { 
	display:block; 
	float:left; 
	margin:0px; 
	padding:0 20px;
	list-style: none;
	display: inline;
	line-height: 3em;
	letter-spacing: .1em;
	position: inherit;
	z-index: 99;
	}
#sticky_navigation ul li a:hover, #sticky_navigation ul li a.selected { }



@media screen and (max-width: 60em) {
#sticky_navigation_wrapper { width:100%;}
#logo-container{ 
	width: 100%;
	margin:0;
	padding: 15px 0px;
}
#nav-container {
	width: 100%;
	margin: 0;
}
#logo {
	width:100%;	
	height: 100px;
	margin: 0;
	padding: 0;
}

}
@media screen and (max-width: 40em) {
	#logo {
	width:100%;	
	height: 80px;
	margin: 0;
	padding: 0;
}
}